* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* INIZIO NAVBAR XS */

.navbar {
  border: 0;
  background-color: rgb(34, 47, 62);
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 65px;
  height: 95px;
  border-radius: 0;
  position: fixed;
  min-height: 50px;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.navbar-brand {
  height: 95px;
  line-height: 65px;
}

.navbar-default .navbar-brand  {
  color: #fff;
  font-size: 25px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-toggle {
  margin-top: 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: rgb(34, 47, 62);
}

/* FINE NAVBAR XS */

/* INIZIO JUMBO XS */

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

#jumbo {
  margin-top: 95px;
}

.jumbo {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
}

.jumbo > .content-jumbo > img {
  width: 55%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.jumbo > .text-jumbo > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.bg-green {
  background-color: rgb(32, 177, 138);
}

.bg-blue {
  background-color: rgb(44, 66, 90);
}

.bg-dark-blue {
  background-color: rgb(33, 47, 63);
}

.line-star {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.left-star-light, .right-star-light {
  width: 15%;
  display: inline-block;
  border: 3px solid white;
  border-radius: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}
.left-star-dark, .right-star-dark {
  width: 15%;
  display: inline-block;
  border: 3px solid rgb(34, 47, 62);
  border-radius: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.fa-star:before {
    padding: 0 15px;
    font-size: 30px;
}

.light {
  color: #fff;
}

.dark {
  color: rgb(34, 47, 62);
}

.jumbo > .text-jumbo > ul {
  display: inline-block;
}

.jumbo > .text-jumbo > ul > li {
  display: inline;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
}

/* FINE JUMBO XS */

/* INIZIO PORTFOLIO XS */

.portfolio {
  padding-bottom: 20px;
}

.text-star {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.text-star > h2 {
  text-transform: uppercase;
}

.content-portfolio  {
  padding: 15px;
}

.content-portfolio img {
  width: 100%;
  border-radius: 15px;
}

/* FINE PORTFOLIO XS */

/* INIZIO ABOUT XS */

.text-about {
  padding: 0 20px;
}

.text-about > p {
  font-size: 20px;
  color: #fff;
  padding: 20px 1.5rem;
}

.btn-download {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.btn-default {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-download > button:before {
content: '\f019';
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #fff;
padding-right: 5px;
}
/* FINE ABOUT XS */

/* INIZIO CONTACT ME XS */

.contact-me {
  padding-bottom: 10px;
}

.form-control {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #555;
}

.btn-primary {
  color: #fff;
  background-color: rgb(32, 177, 138);
  border-color: rgb(32, 177, 138);
  margin-top: 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(34, 47, 62);
    border-color: rgb(34, 47, 62);
}

.form-group {
  padding: 0 20px;
}

.form-group > textarea {
  width: 100%;
}

/* FINE CONTACT ME XS */

/* INIZIO FOOTER XS */

.text-footer {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.text-footer > h3 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
}

.text-footer > p {
  color: #fff;
  font-size: 14px;
}

.text-footer > p > a {
  color: rgb(32, 177, 138);
}

.text-footer > i {
  margin: 5px 5px;
  color: #fff;
}

.circle {
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 13px;
  border-radius: 50%;
}

.text-dark-footer {
  text-align: center;
  padding: 20px 0;
}

.text-dark-footer > p {
  color: #fff;
  font-size: 14px;
}
/* FINE FOOTER XS */

/* ---- MEDIA SM ---- */

@media all and (min-width: 768px) {

/* NAVBAR SM */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  line-height: 65px;
  text-transform: uppercase;
}

/* JUMBO SM */

.jumbo {
  padding-bottom: 35px;
}

.jumbo > .content-jumbo > img {
  width: 30%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.line-star {
  padding: 25px 0;
}

/* PORTFOLIO SM */

.portfolio {
  padding-bottom: 50px;
}

/* CONTACT ME SM */

.contact-me {
  padding-bottom: 20px;
}

/* FOOTER SM */

.text-footer {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

}

/* ---- MEDIA MD ---- */

@media all and (min-width: 992px) {

/* JUMBO MD */

.jumbo > .content-jumbo > img {
  width: 20%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* ABOUT */

.btn-download {
  padding-bottom: 30px;
}

}

/* ---- MEDIA LG ---- */

@media all and (min-width: 1200px) {

.container-xl, .container-lg, .container-md, .container-sm, .container-xs {
  max-width: 1140px;
}

}
